// default overrides
body {
  background-color: @white;
}
hr {
  border-top: 1px solid @light-gray;
  margin-bottom: 3rem;
}

// skeleton overrides
.container {
  max-width: 1200px;
}

// general classes
button.disabled {
  opacity: 0.60;
}

.button-maker(@color) {
  background-color: @color;
  color: @white;
  border-color: darken(@color, 5%);
  &:hover, &:focus {
    background-color: darken(@color, 6%);
    color: @white;
    border-color: darken(@color, 9%);
  }
}

button.button-primary {
  .button-maker(@purple);
}
.button-success {
  .button-maker(@green);
}
.button-danger {
  .button-maker(@red);
}

.back-button {
  color: @black;
  font-size: 3rem;
  margin-left: 1rem;
  &:link {
    text-decoration: none;
  }
  &:hover {
    color: lighten(@black, 25%);
  }
  &::after {
    content: "◄";
  }
}
