// default overrides
body {
  background-color: @white;
}

hr {
  border-top: 1px solid #C2C2C2;
}

// bootstrap overrides
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #D2F2FF;
}
.btn {
  border-radius: 1px;
}
.btn-primary {
  background-color: #41569B;
  border-color: #5B678F;
  &:hover {
    background-color: #334375;
  }
}
.btn-success {
  background-color: #3AA264;
  border-color: #688D77;
  &:hover {
    background-color: #398A59;
  }
}
.btn-danger {
  background-color: #DA4F4A;
  border-color: #BD5E5B;
  &:hover {
    background-color: #BB514D;
  }
}

.back-button {
  color: @black;
  font-size: 24px;
  margin-top: 3px;
  margin-left: 6px;
  &:hover {
    color: #565656;
  }
}
