// default overrides
body {
  background-color: @white;
}
hr {
  border-top: 1px solid #C2C2C2;
}

// skeleton overrides
.container {
  max-width: 1200px;
}

.button-maker(@color) {
  background-color: @color;
  color: @white;
  border-color: darken(@color, 4%);
  &:hover, &:focus {
    background-color: darken(@color, 4%);
    color: @white;
  }
}

// general classes
button.disabled {
  opacity: 0.60;
}
.button-success {
  .button-maker(@green);
}
.button-danger {
  .button-maker(@red);
}
// general classes
.back-button {
  color: @black;
  font-size: 3rem;
  margin-left: 1rem;
  &:link {
    text-decoration: none;
  }
  &:hover {
    color: lighten(@black, 25%);
  }
  &::after {
    content: "◄";
  }
}
