// colors
@black: #000000;
@white: #FAFAFA;
@gray: #6C7A89;
@light-gray: #DADADA;

@red: #CE3D48;
@blue: #2574A9;
@yellow: #EAE35A;
@green: #099877;
@purple: #C45AEC;

@player-red: #E21420;
@player-blue: #025AF9;
@player-yellow: #DDA944;
@player-green: #09A92D;
