extends layout

block content
  a(href='/')
    div.back-button.glyphicon.glyphicon-arrow-left
  div.container
    h1= title
    div#app
  //- script(type='text/jsx', src='/fights.jsx')
  script(src='/js/fights.js')
