extends layout

block content
  a(href='/')
    div.back-button.glyphicon.glyphicon-arrow-left
  div.container
    h1= title
    div.radio
      label
        input(type="radio", name="graphType", onclick="changeStatType(this.value)", value="rating", checked="checked")
        span Total Wins
    div.radio
      label
        input(type="radio", name="graphType", onclick="changeStatType(this.value)", value="winpct")
        span Win %
    div.radio
      label
        input(type="radio", name="graphType", onclick="changeStatType(this.value)", value="wins")
        span Total Wins
    div#graph
  script(src='/js/timeline.js')
