extends layout

block content
  .index.container
    .logo
      img(src='/img/logo.png')
    .add-fight
      a(href='/fights')
        .fight-button Add A Fight
    ul.menu
      li
        a(href='/highlights/general')
          .menu-item Highlights
      each p in tablePages
        li
          a(href='/tables/'+p[0])
            .menu-item #{p[1]}
      li
        a(href='/graphs/players')
          .menu-item Player Timeline
      li
        a(href='/graphs/characters')
          .menu-item Character Timeline
    #app
