extends layout

block content
  .main.index
    .logo
      img(src='/img/logo.png')
    .fightBtn
      a(href='/fights')
        .addFight Add A Fight
    ul.menu
      each p in tablePages
        li
          a(href='/tables/'+p[0])
            .menuItem #{p[1]}
      li
        a(href='/graphs')
          .menuItem Player Timeline
    #app
  script(src='/js/index.js')
