doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    script(src='/jquery/dist/jquery.min.js')
    script(src='/lodash/dist/lodash.min.js')
    script(src='/react/react-with-addons.min.js')
    script(src='/d3/d3.min.js')
    block content
