extends layout

block content
  a(href='/')
    .back-button <--
  div.container
    h1= title
    if type
      div(id='app', type=type)
    else
      div#app
  //- if isTesting
  //-   script(type='text/jsx', src='/'+view+'.jsx')
  //- else
  //-   script(src='/js/'+view+'.min.js')
  script(src='/js/'+view+'.min.js')
